*{
    box-sizing: border-box;
    font-family: "roboto";
}
.main-container{
    background-image: linear-gradient(to right,#ffeeee, #ffc0bb, #ffc0bb);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 80%;

}
.card-container{
    background-color: #ffffff;
    min-height: 40%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px 1px;
    /* border: 1px solid red; */

}
.card{
    
    /* border: 1px solid red; */
    width: 80%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    width: 80%;
    /* border: 1px solid red; */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1e293b;
}
button{
    background-color: transparent;
    border: none;
    
}
button svg{
    height: 30px;
    width: 30px;
     color: pink;
     box-shadow: 1px 1px 4px 3px;
     border-radius: 50%;
    
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heart{
    color: red;
}
svg{
    color: red;
    height: 30px;
    width: 30px;
}